{
  "metadata": {
    "resourcelink": "{{ .ResourceLink }}",
    "relationships": [
      {
        "s": "self",
        "p": "http://phaidra.org/ontology/isInAdminSet",
        "o": "phaidra:museum.phaidra.org"
      }
    ],
    "json-ld": {
      "edm:hasType": [
        {
          "@type": "skos:Concept",
          "skos:exactMatch": [
            "https:\/\/pid.phaidra.org\/vocabulary\/QTXN-YBJ3"
          ],
          "skos:prefLabel": [
            {
              "@language": "eng",
              "@value": "web application"
            },
            {
              "@language": "deu",
              "@value": "Web-Anwendung"
            }
          ]
        }
      ],
      "dce:title": [
        {
          "@type": "bf:Title",
          "bf:mainTitle": [
            {
              "@language": "eng",
              "@value": "{{ .Title }}"
            }
          ]
        }
      ],
      "role:aut": [
        {
          "@type": "schema:Person",
          "schema:familyName": [
            {
              "@value": "{{ .Author.LastName }}"
            }
          ],
          "schema:givenName": [
            {
              "@value": "{{ .Author.FirstName }}"
            }
          ]
        }
      ],
      "bf:note": [
        {
          "@type": "bf:Summary",
          "skos:prefLabel": [
            {
              "@language": "eng",
              "@value": "{{ .Description }}"
            }
          ]
        }
      ],
      "dce:subject": [
{{$lenKeywords := minus (len .Keywords) 1}}
{{ range $i, $kw := .Keywords }}
        {
          "@type": "skos:Concept",
          "skos:prefLabel": [
    {{ $lenLabels := minus (len $kw) 1 }}
    {{ range $j, $label := $kw }}
            {
              "@language": "{{ $label.Lang }}",
              "@value": "{{ $label.Value }}"
            }{{ if lt $j $lenLabels }},{{ end }}
    {{ end }}
          ]
        } {{ if lt $i $lenKeywords }},{{ end }}
{{ end }}
      ],
      "dcterms:subject": [
        {
          "@type": "skos:Concept",
          "rdfs:label": [
{{ $lenOefosFullLabel := minus (len .Oefos.FullLabel) 1 }}
{{ range $i, $label := .Oefos.FullLabel }}
            {
              "@language": "{{ $label.Lang }}",
              "@value": "{{ $label.Value }}"
            }{{ if lt $i $lenOefosFullLabel }},{{ end }}
 {{ end }}
          ],
          "skos:exactMatch": [
            "{{ .Oefos.ExactMatch }}"
          ],
          "skos:notation": [
            "{{ .Oefos.Notation }}"
          ],
          "skos:prefLabel": [
{{ $lenOefosPrefLabel := minus (len .Oefos.PrefLabel) 1 }}
{{ range $i, $label := .Oefos.PrefLabel }}
            {
              "@language": "{{ $label.Lang }}",
              "@value": "{{ $label.Value }}"
            }{{ if lt $i $lenOefosPrefLabel }},{{ end }}
{{ end }}
          ]
        }
      ],
      "rdax:P00009": [
        {
          "@type": "aiiso:Institute",
          "skos:exactMatch": [
            "{{ .OrgUnit.ExactMatch }}"
          ],
          "skos:prefLabel": [
{{ $lenOrgUnitPrefLabel := minus (len .OrgUnit.FullLabel) 1 }}
{{ range $i, $label := .OrgUnit.FullLabel }}
            {
              "@language": "{{ $label.Lang }}",
              "@value": "{{ $label.Value }}"
            }{{ if lt $i $lenOrgUnitPrefLabel }},{{ end }}
{{ end }}
          ]
        }
      ]
    }
  }
}